<%=form_for @person do |f|%>
	<%@person.errors.full_messages.each do |msg|%>
	<li><%=msg%></li>
	<%end%>
<div class="form-label">First name </div>
<div class="form-item"><%=f.text_field :first_name%></div>
<div class="form-label">Last name </div>
<div class="form-item"><%=f.text_field :last_name%></div>
<div class="form-label">Middle name </div>
<div class="form-item"><%=f.text_field :middle_name%></div>
<div class="form-item"><%=f.submit("Submit")%></div>
<%end%>
